*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}

/* header start  */
header{
width: 100%;
height: 673px;
background: url(./photos/1-1bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
header .header_top{
width: 70%;
height: 61px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
header .header_top ul{
width:75%;
height: 61px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .header_top ul li a{
color: #4d4d4d;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
header .header_top ul li a:hover{
background-color: #C1BC45;
color: white;
padding: 20px 20px;
margin: -20px -20px;
}
header .header_top .loogo{
padding-top: 15px;
width: 130px;
height: 80px;
}
header .header_button{
width: 70%;
height: 600px;
margin: auto;
display: flex;
justify-content: center;
flex-direction: column;
}
header .header_button h1{
color: #C1BC45;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
header .header_button p{
color: #4d4d4d;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}
header .headr_button p b{
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}
/* header end */
/* section start */
section{
width: 100%;
height: 920px;
display: flex;
justify-content: center;
align-items: center;
}
section .container{
width: 70%;
height: 702px;
display: flex;
justify-content: space-between;
}
section .container .section_left{
width: 49%;
height: 700px;
}
section .container .section_left img{
width: 100%;
height: 400px;
}
section .container .section_left h2{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
margin: 10px 0;
}
section .container .section_left p{
color: #333333;
font-size: 15.67px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
line-height: 25px;
}
section .container .section_right{
width: 49%;
height: 700px;
}
section .container .section_right .ico{
width: 100%;
height: 160px;
border: 4px solid #aeaeae;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin-bottom: 23px;
}
section .container .section_right .ico:hover{
border: 4px solid #f0f0f0;
}
section .container .section_right .ico .pow{
    width: 65%;
}
section .container .section_right .ico .pow h2{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
section .container .section_right .ico .pow p{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
color: #919191;
line-height: 20px;
margin-top: 10px;
}
/* section end */
/* footer start */
footer{
width: 100%;
height: 295px;
background-color: #eee9e9;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
footer .footer_top{
width: 70%;
height: 210px;
display: flex;
justify-content: space-between;
align-items: center;
}
footer .footer_top ul{
width: 75%;
height: 210px;
display: flex;
justify-content: space-between;
align-items: center;
}
footer .footer_top ul li a{
color: #4d4d4d;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
footer .footer_top ul li a:hover{
color: red;
border-bottom: 3px solid red;
padding-bottom: 10px;
}
footer p{
color: #4d4d4d;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}
footer p b{
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}
/* footer end */